asyncio==3.4.3           # Стандартная библиотека Python для работы с асинхронным программированием
aiogram==3.8.0           # Библиотека для создания ботов на платформе Telegram с использованием async/await
aiogram-dialog==2.1.0    # Библиотека для управления диалогами в Telegram-ботах на базе aiogram
aiohttp[speedups]==3.9.5 # Асинхронная HTTP-библиотека с улучшенной производительностью для работы с HTTP-запросами
aiodns==3.2.0            # Асинхронный DNS-клиент для более эффективного разрешения DNS-запросов
SQLAlchemy==2.0.36       # ORM (объектно-реляционное отображение) для работы с базами данных в Python
asyncpg==0.30.0          # Асинхронный драйвер для работы с PostgreSQL базами данных
aiosqlite==0.20.0        # Асинхронный драйвер для работы с SQLite базами данных
redis==5.2.0             # Клиент для работы с Redis, подходящий для синхронных и асинхронных задач

environs==11.0.0         # Библиотека для управления конфигурациями и переменными окружения
requests==2.32.3         # Простая библиотека для отправки HTTP-запросов
numpy==2.1.2             # Библиотека для научных вычислений и работы с многомерными массивами
icecream                 # Библиотека для дебагинга
psutil==6.1.0            # Библиотека для получения информации о системе

babel==2.16.0            # Библиотека для интернационализации и локализации приложений
psycopg==3.2.1           # Драйвер для PostgreSQL с полными возможностями работы с базами данных
psycopg-binary==3.2.1    # Предварительно скомпилированная версия psycopg для упрощенной установки

# openai==1.41.0           # Библиотека для работы с API OpenAI
