body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(23, 33, 43);
    color: #F5F5F5;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(47, 56, 65);
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 600;
    color: #F5F5F5;
}

.calculator {
    width: 100%;
    padding: 20px;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #F5F5F5;
}

input { /* поле ввода, которое принимает число */
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    background-color: rgb(14, 22, 33);
    color: #F5F5F5;
    box-sizing: border-box;
}

input:focus { /* поле ввода при фокусе */
    outline: none;
    border-color: rgb(157, 157, 158);
}

.result { /* результат - это число, которое генерируется */
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
}

.result p { /* параграф - это строка результата */
    margin: 10px 0;
}

#price-per-cm,
#price-per-pizza {
    font-weight: bold;
    color: #F5F5F5;
}

/* Убираем стрелки для Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Убираем стрелки для Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

@media (max-width: 480px) {
    body {
        padding: 10px; /* Уменьшенный отступ для мобильных */
    }

    .container {
        padding: 15px; /* Уменьшенный отступ контейнера */
    }

    .calculator {
        padding: 15px; /* Уменьшенный отступ калькулятора */
    }

    h1 {
        font-size: 22px; /* Уменьшенный размер заголовка */
    }

    .result {
        font-size: 16px; /* Уменьшенный размер текста результата */
    }
}